<!DOCTYPE html>
<html>

<head>

<title>WS4 Control Panel</title>

<style type="text/css">

.control-btns
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#camera-space
{
    width: 640px;
    height: 480px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#control-btn-div
{
    margin-top: 20px;
}

</style>

<script>

function sendfire() {
    let request = new XMLHttpRequest();
    request.open("POST", "fire", true);
    request.send()
}


function sendleft() {
    let request = new XMLHttpRequest();
    request.open("POST", "left", true);
    request.send()
}

function sendright() {
    let request = new XMLHttpRequest();
    request.open("POST", "right", true);
    request.send()
}

</script>

</head>

<body>

<center>

<div id="camera-space">

<img src="{{ url_for('video_feed') }}" width="100%">

</div>

<div id="control-btn-div">

<button class="control-btns" onclick="sendfire()">Fire</button>
<br /><br />

<button class="control-btns" onclick="sendleft()">&larr;</button>
&nbsp; &nbsp; &nbsp;
<button class="control-btns" onclick="sendright()">&rarr;</button>

</div>

</center>

</body>

</html>